__pycache__

/complete_control/data
/complete_control/fig
/complete_control/error.txt
/complete_control/variability_neg.txt
/complete_control/variability_pos.txt
**/*.png
# **/*.yaml
# **/*.txt
**/*.hdf5
/complete_control/demo_human_col
/nestml/target
built_custom_stdp
logs
.env

runs/*
try_bullet/*
cerebellum/*